
.sectionStyle1{
    padding-top: 5%;
   
 
}
/* .ceo{
    border: none;
    border-radius: 7px;
    box-shadow: 5px;

} */

.sectionStyle2{
    padding-top: 15%;
    
 
 
    
}

/* .ceo2{
    padding-top: 3% ;
} */

.section{
    margin-top: 10rem;
}